<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{% static 'contactus.css' %}">
    <title>Document</title>
</head>
<body>

<div class="main">
    <div class="main2">
            <img src="{% static 'logo/logo2.svg' %}" alt="" class ="sunpac" data-url="{% url 'home2' %}">
        <div class="header">
            <div class="nav2">
                <h4 class="nav-link" data-url="{% url 'home2' %}">home</h4>
                <h4 class="products">Products
                    {% comment %} <ul class="popup">
                        <li class="solar_panel" data-url="/gridview/?csrfmiddlewaretoken=czuSld1GbAzyjLNn0LIaNeBPRYKJhtHKQFYXhVGa0oLsUzm1Koavcb66NPA3wxsC&product-group=4">Solar Panel</li>
                        <li class="inveter" data-url="/gridview/?csrfmiddlewaretoken=A5uilEkmywHpPKIxdtxkY9KhDh7MVU9EebYnhmZQnkTjqyhbX6ZFn6fyz8X6aYUw&product-group=5">Inverters</li>
                        <li class="solar_heater" data-url="/gridview/?csrfmiddlewaretoken=y46K3XzOVXS46G4lW7RIzZnVQudL2Z0wcaAPZFeiKL4YHuDZGKj3YWScMl35h3Lo&product-group=7">Solar Cooker</li>
                        <li class="solar_cooker" data-url="/gridview/?csrfmiddlewaretoken=rNEh22GyBMpS96UQfqxd6u8MstaP7AFJ5T8mYKl2qABMKUtuZ3ZyvrD3ok09mEqB&product-group=6">Solar Heater</li>
                    </ul> {% endcomment %}
                </h4>
                <h4 class="nav-link" data-url="{% url 'blog_page' %}">Blog</h4>
                <h4 class="nav-link" data-url="{% url 'aboutus_page' %}">About us</h4>
            </div>
                <button class="button" data-url="/insert2">Lists</button> 
                <img src="{% static 'logo/profile.svg' %}" alt="" class= "profile" data-url="{% url 'profilepage' %}">
                <img src="{% static 'logo/cart.svg' %}" alt="" class="cart" data-url="{% url 'success' %}">
                
        </div>
    </div>
    <div class="square">
        <div class="overlay">
            <h2>Contact Me</h2>
            <p>Contact us today at Sunpac for all your solar energy needs. We're here to assist you every step of the way.</p><br>
            <h1>+91 9099989488 INDIA(Gujarat)</h1>
            <img src="{% static 'logo/111.png' %}" alt="">
        </div>
        <div class="container">
            <div class="title">Get in touch</div>
            <div class="content">
              <form method='POST' action="#">
                {% csrf_token %}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" name="name" placeholder="Enter your name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="number" name="phone_number" placeholder="Enter your number" required>
                  </div>
                  <div class="input-box">
                    <span class="details">City</span>
                    <input type="text" name="city" placeholder="Enter your username" required>
                  </div>
                  <div class="input-box1">
                    <span class="details">Message</span>
                    <textarea name="description1" cols="40" rows="10" required id="id_description1" placeholder="Enter your Mesaages..."></textarea>
                </div>
                </div>
                <div class="button1">
                  <input type="submit" value="Send">
                </div>
              </form>
            </div>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <li class="success">{{ message }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="div">
        <div class="title2">
            <h1>Warranty</h1>
            <h2>25-year performance guarantee</h2>
        </div>

        <div class="logo2">
            <img src="{% static 'logo/logo2.svg' %}" alt="">
            <h1>Solar Power Your Home</h1>
            <button class="order-btn2" data-url="{% url 'gridview' %}">Order now</button>
        </div>
    
        <div class="footer">
            <h4>Sunpac @ 2023</h4>
            <h4 class="nav-link" data-url="{% url 'privacy' %}">Privacy & legal</h4>
            <h4 class="nav-link" data-url="{% url 'contactus' %}">contact</h4>
            <h4 class="nav-link" data-url="{% url 'blog_page' %}">guide</h4>
            <h4 class="nav-link" data-url="{% url 'aboutus_page' %}">About</h4>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hlinks = document.querySelectorAll(".sunpac, .button ,.cart, .profile, .nav-link, .nav-link,.order-btn2, .order-btn, .solar_panel, .inveter, .solar_heater, .solar_cooker");
    
    
    
        hlinks.forEach(link => {
            link.addEventListener("click", function () {
                const url = this.getAttribute('data-url');
                window.location.href = url
    
                this.classList.add('clicked');
    
                setTimeout(() => {
                    this.classList.remove('clicked');
                }, 300);
            })
        });
     });
    </script>
    
</body>
</html>