<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{% static 'morebattery.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="main">
        <div class="main2">
                <img src="{% static 'logo/logo2.svg' %}" alt="" class ="sunpac" data-url="{% url 'home2' %}">
            <div class="header">
                <div class="nav2">
                    <h4 class="nav-link" data-url="{% url 'home2' %}">home</h4>
                    <h4 class="products" data-url="{% url 'gridview' %}">Products</h4>
                    <h4 class="nav-link" data-url="{% url 'blog_page' %}">Blog</h4>
                    <h4 class="nav-link" data-url="{% url 'aboutus_page' %}">About us</h4>
                </div>
                    <button class="button" data-url="/insert2/">Lists</button>
                    <img src="{% static 'logo/profile.svg' %}" alt="" class= "profile" data-url="{% url 'profilepage' %}">
                    <img src="{% static 'logo/cart.svg' %}" alt="" class="cart" data-url="{% url 'success' %}">
                     
            </div>
        </div>

    <div class="pro">
        <div class="hey">
                <img src="{% static 'logo/battery2.svg' %}" alt="" class="updown4 animation"> 
            <div class="div">
                <h1>Battery Storage</h1>
            </div>
        </div>
        <div class="fine">
            <h3>Solar Harvest: Battery Banked Power</h3>
            <p>The converted AC electricity is directed to<br>a battery storage system. This is typically<br>composed of rechargeable batteries, such as<br>lithium-ion or lead-acid batteries, designed<br>to store the excess energy generated during<br>periods of high sunlight.</p>
        
        </div>
    </div>

    <div class="true">
        <div class="yes">
            <h3>Powering Up with Battery Charge<br></h3>
            <p>As sunlight is abundant, the solar panels<br>generate electricity, which charges the<br>batteries during the day. The charge<br>controller ensures that the batteries<br>receive an optimal charge, preventing damage<br>and maximizing their lifespan.</p>
        </div>
        <div class="no">
            <img src="{% static 'logo/morebattery.svg' %}" alt="" class="updown4 animation"> 
               <h1>Charging the Batteries</h1>
                   
        </div>
    </div>

    <div class="energy">
        <div class="clean">
            <img src="{% static 'logo/solar1.svg' %}" alt="" class="updown4 animation"> 
            <div class="green">
                <h1>Discharge for Power Needs</h1>
            </div>
        </div>
        <div class="get">
            <h3>Sun to Battery Power: Lighting Up the Night</h3>
            <p>When energy demand exceeds the current solar<br>production, or during nighttime when there<br>is no sunlight, the stored energy in the<br>batteries is discharged. The inverter converts<br>the stored DC energy back into AC, making<br>it suitable for powering appliances and devices.</p>
        </div>
    </div>

    {% comment %} <div class="bright">    
        <div class="future">
            <h3>Future Brighter<br></h3>
            <p>Choosing Sunpac means embracing a brighter, more<br>sustainable tomorrow. Our dedication to solar<br>energy reflects our belief in a cleaner,<br>greener, and smarter future. Join us in this<br>journey towards a world powered by the sun,<br>where clean energy empowers communities and<br>illuminates a path to a more sustainable and<br>eco-friendly existence.</p>
        </div>
        <div class="light">
            <img src="{% static 'logo/happysolar.svg' %}" alt="" class="updown4 animation"> 
               <h1>Future Brighter</h1>
                   
        </div>
    </div> {% endcomment %}
        
    <div class="div2">
        <div class="title2">
            <h1>Warranty</h1>
            <h2>25-year performance guarantee</h2>
        </div>

        <div class="logo2">
            <img src="{% static 'logo/logo2.svg' %}" alt="">
            <h1>Solar Power Your Home</h1>
            <button class="order-btn2" data-url="/gridview">Order now</button>
        </div>
    
        <div class="footer">
            <h4>Sunpac @ 2023</h4>
            <h4 class="nav-link" data-url="{% url 'privacy' %}">Privacy & legal</h4>
            <h4 class="nav-link" data-url="{% url 'contactus' %}">contact</h4>
            <h4 class="nav-link" data-url="{% url 'blog_page' %}">guide</h4>
            <h4 class="nav-link" data-url="{% url 'aboutus_page' %}">About</h4>
        </div>
    </div>  
   
   <script>
    document.addEventListener('DOMContentLoaded', function () {
        const hlinks = document.querySelectorAll(".products,.button ,.nav-link, .nav-link, .order-btn2, .sunpac, .profile, .cart, .order-btn");



        hlinks.forEach(link => {
            link.addEventListener("click", function () {
                const url = this.getAttribute('data-url');
                window.location.href = url

                this.classList.add('clicked');

                setTimeout(() => {
                    this.classList.remove('clicked');
                }, 300);
            })
        });
     });
    </script>

</div>
</body>
</html>