body,
html {
    background-color: #050E13;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

main {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.main2 {
    background-color: #33A083;
    color: #fff;
    width: 85%;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    border-radius: 50px;
    margin-top: 3.5vh;
    margin-left: 6.9vw;
}

.sunpac {
    margin-left: 1vw;
}

.logo {
    width: 50px;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 10vw;
}

.profile {
    height: 3vw;
    width: 3vw;
    margin: 0.2vh -0.1vw;
}

.cart {
    height: 3vw;
    width: 3vw;
    margin: 0.1vh 0.9vw;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-align: right;
    margin-right: 1.2vw;
}


/* button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
} */

.button {
    padding: 0.5vw 1.2vw;
    border-radius: 30px;
    font-size: 1.2vw;
    background-color: #33A083;
    color: #F6F6F6;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

.button:hover {
    background-color: #fff;
    color: #33A083;
    border-color: #fff;
    /* Set border color on hover */
}

.nav2 {
    display: flex;
    gap: 5vw;
    /* margin-right: 22vw; */
    padding-right: 16vw;
}

.nav2 h4 {
    font-size: 1vw;
    color: #fff;
    font-weight: 500;
}


/* .nav2 h4 {
/* gap: 7rem; */

.icons img {
    width: 30px;
    height: auto;
    /* margin-left: 10px;
    margin-left: 10vw; */
}

.nav2 {
    display: flex;
    gap: 5vw;
}

.nav2 h4 {
    font-size: 1vw;
    color: #fff;
}

.nav2 h4 {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav2 h4:hover {
    color: #fff;
}

.nav2 h4:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.nav2 h4::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #33A083;
    transition: width 0.3s ease-in-out;
}

.nav2 h4:hover::after {
    width: 100%;
}

.nav2 {
    display: flex;
    gap: 5rem;
    position: relative;
    color: #fff;
}

.nav2 h4 {
    font-size: 1rem;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.products .popup {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.products:hover .popup {
    display: block;
}

.popup {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #33A083;
}

.popup li {
    padding: 8px;
    border-bottom: 1px solid #33A083;
}

.popup li:last-child {
    border-bottom: none;
}

.popup li:hover {
    background-color: #33A083;
    color: #fff;
}

.popup li {
    transition: background-color 0.2s, color 0.2s;
}

span {
    color: #33A083;
}


/* .rec {
display: flex;
flex-direction: row;
justify-content: space-around;
} */

.rectangle {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left {
    display: flex;
    width: 70%;
    height: 129.5vw;
    border-radius: 8px;
    background-color: #fff;
    width: 50vw;
    border: 2px solid #33A083;
    margin-left: 7vw;
    margin-top: 5vw;
    padding-right: 5vw;
}

.right {
    position: fixed;
    margin-top: -136vw;
    right: 0;
}

.right img {
    margin-right: 6vw;
}


/* 
.right img {
    width: 65%;
    padding-top: 5vw;
    padding-right: 8vw;
} */

.left h2 {
    padding-top: 0.7vw;
    justify-content: center;
    padding-left: 19vw;
    font-weight: 500;
    color: #33A083;
}

.file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    height: 10vw;
    border: 2px solid #33A083;
    margin-top: 2vw;
    margin-left: 5vw;
    border-radius: 8px;
}

.file-upload h2 {
    margin-left: -20vw;
    margin-top: -1vw;
    /* Adjust as needed for spacing */
}

.user1 h2 {
    padding-top: 2vw;
    justify-content: center;
    padding-left: 17.5vw;
    font-weight: 500;
    color: #33A083;
}

.user1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.con1 {
    padding-top: 0.5vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.left2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* margin-left: 4vw; */
}

.left2 h3 {
    font-weight: 500;
}

.left2 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.right2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.right2 h3 {
    font-weight: 500;
}

.right2 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.left2 input {
    width: 15vw;
}

.right2 input {
    width: 15vw;
}

.con3 {
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.left3 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 4vw;
}

.left3 h3 {
    font-weight: 500;
}

.left3 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.right3 {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.right3 h3 {
    font-weight: 500;
}

.right3 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.left3 input {
    width: 15vw;
}

.right3 input {
    width: 15vw;
}


/* .name h2 {
    padding-top: 0.7vw;
    justify-content: center;
    padding-left: 17vw;
    font-weight: 500;
    color: #33A083;
}

.name h3 {
    font-size: 20px;
    padding-top: 1vw;
    padding-left: 8vw;
    font-weight: 600;
    color: #33A083;
    width: 10vw;
    box-sizing: border-box;
}

.name input {
    width: 20vw;
    height: 1.6vw;
    margin-top: 0.1vw;
    margin-left: 8vw;
    border: 2px solid #33A083;
    border-radius: 6px;
}

.wattage h3 {
    font-size: 18px;
    padding-top: 1vw;
    padding-left: 8vw;
    font-weight: 500;
    color: #33A083;
    width: 10vw;
    box-sizing: border-box;
}

.wattage input {
    width: 20vw;
    height: 1.6vw;
    margin-top: 0.1vw;
    margin-left: 8vw;
    border: 2px solid #33A083;
    border-radius: 6px;
}

.voltage h3 {
    font-size: 19px;
    padding-top: 1vw;
    padding-left: 8vw;
    font-weight: 500;
    color: #33A083;
    width: 10vw;
    box-sizing: border-box;
}

.voltage input {
    width: 20vw;
    height: 1.6vw;
    margin-top: 0.1vw;
    margin-left: 8vw;
    border: 2px solid #33A083;
    border-radius: 6px;
}

.warrenty h3 {
    font-size: 19px;
    padding-top: 1vw;
    padding-left: 8vw;
    font-weight: 500;
    color: #33A083;
    width: 10vw;
    box-sizing: border-box;
}

.warrenty input {
    width: 20vw;
    height: 1.6vw;
    margin-top: 0.1vw;
    margin-left: 8vw;
    border: 2px solid #33A083;
    border-radius: 6px;
} */

.title {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 4vw;
    padding-top: 2vw;
    padding-left: 13vw;
}

.title h3 {
    font-weight: 500;
}

.title input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.description1 {
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: -1vw;
}

textarea {
    border: 2px solid #33A083;
    margin-left: 3.5vw;
    border-radius: 4px;
}

.description1 h3 {
    color: #000;
    font-weight: 500;
    margin-left: -9.5vw;
}

.productname h3 {
    padding-top: 2vw;
    padding-left: 8vw;
    font-weight: 500;
    color: #33A083;
}

.radio-container {
    display: flex;
    flex-direction: row;
    margin-top: 1.1vw;
    padding-left: 8vw;
}

.radio-container label {
    font-weight: 500;
    margin-right: 3vw;
    display: flex;
    align-items: center;
    color: #000;
}

.radio-container1 {
    display: flex;
    flex-direction: row;
    margin-top: 1.1vw;
    padding-left: 8vw;
}

.radio-container1 label {
    font-weight: 500;
    margin-right: 3vw;
    display: flex;
    align-items: center;
    color: #000;
}

.productbrand h3 {
    padding-top: 2vw;
    padding-left: 8vw;
    font-weight: 500;
    color: #33A083;
}

.Discount h3 {
    padding-top: 2vw;
    padding-left: 8vw;
    font-weight: 500;
    color: #33A083;
}

.radio-container3 {
    display: flex;
    flex-direction: row;
    margin-top: 1.1vw;
    padding-left: 8vw;
}

.radio-container3 label {
    font-weight: 500;
    margin-right: 3vw;
    display: flex;
    align-items: center;
    color: #000;
}

.user h2 {
    padding-top: 2vw;
    justify-content: center;
    padding-left: 21vw;
    font-weight: 500;
    color: #33A083;
}

.user {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.con {
    padding-top: 0.5vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.left1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 4vw;
}

.left1 h3 {
    font-weight: 500;
}

.left1 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.right1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.right1 h3 {
    font-weight: 500;
}

.right1 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.left1 input {
    width: 15vw;
}

.right1 input {
    width: 15vw;
}

.con2 {
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.left2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 4vw;
}

.left2 h3 {
    font-weight: 500;
}

.left2 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.right2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.right2 h3 {
    font-weight: 500;
}

.right2 input {
    height: 1.4vw;
    border-radius: 4px;
    border: 2px solid #33A083;
}

.left2 input {
    width: 15vw;
}

.right2 input {
    width: 15vw;
}

.div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.discription {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

textarea {
    border: 2px solid #33A083;
    margin-left: 5vw;
}

.discription h2 {
    color: #000;
    font-weight: 500;
    margin-left: -14.5vw;
}

.order-btn {
    margin-top: 3vw;
    margin-left: 22vw;
    padding: 0.5vw 1.8vw;
    width: 11vw;
    border: 2px solid #33A083;
    font-size: 1.2vw;
    font-weight: 500;
    background-color: #33A083;
    border-radius: 10vw;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.order-btn:hover {
    background-color: #fff;
    color: #33A083;
}

.order-btn3 {
    /* margin-top: 3vw;
    margin-left: 23vw; */
    padding: 0.5vw 1.8vw;
    width: fit-content;
    border: 2px solid #33A083;
    font-size: 1.2vw;
    font-weight: 500;
    background-color: #fff;
    border-radius: 10vw;
    color: #33A083;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}