body {
    box-sizing: border-box;
    font-family: 'Segoe UI';
    background-color: #050E13;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 100%;
}

.main2 {
    background-color: #33A083;
    color: #fff;
    width: 85%;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    border-radius: 50px;
    margin-top: 3.5vh;
    margin-left: 6.9vw;
}

.sunpac {
    margin-left: 1vw;
}

.logo {
    width: 50px;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 1.2vw;
}

.profile {
    height: 3vw;
    width: 3vw;
    margin-left: 0.7vw;
}

.cart {
    height: 3vw;
    width: 3vw;
    margin-left: 0.7vw;
}

.button {
    border-radius: 30px;
}

.button {
    padding: 0.5vw 1.2vw;
    font-size: 1.2vw;
    background-color: #33A083;
    color: #F6F6F6;
    border: 2px solid #fff;
    /*Setinitialbordercolor*/
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

.button:hover {
    background-color: #fff;
    color: #33A083;
    border-color: #fff;
    /* Set border color on hover */
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2 {
    display: flex;
    gap: 5vw;
    padding-right: 16vw;
}

.nav2 h4 {
    font-size: 1vw;
    color: #fff;
    font-weight: 500;
}


/* .nav2 h4 {
/* gap: 7rem; */

.icons img {
    width: 30px;
    height: auto;
    margin-left: 10px;
    margin-left: 10vw;
}

.nav2 {
    display: flex;
    gap: 5vw;
}

.nav2 h4 {
    font-size: 1vw;
    color: #fff;
}

.nav2 h4 {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav2 h4:hover {
    color: #fff;
}

.nav2 h4:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.nav2 h4::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #33A083;
    transition: width 0.3s ease-in-out;
}

.nav2 h4:hover::after {
    width: 100%;
}

.nav2 {
    display: flex;
    gap: 5rem;
    position: relative;
    color: #fff;
}

.nav2 h4 {
    font-size: 1rem;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.products .popup {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.products:hover .popup {
    display: block;
}

.popup {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #33A083;
}

.popup li {
    padding: 8px;
    border-bottom: 1px solid #33A083;
}

.popup li:last-child {
    border-bottom: none;
}

.popup li:hover {
    background-color: #33A083;
    color: #fff;
}

.popup li {
    transition: background-color 0.2s, color 0.2s;
}

.div {
    max-width: 100%;
}

.div h1 {
    color: #33A083;
    font-size: 44px;
    font-weight: 400;
    margin-top: -6.5vw;
    padding-left: 7.5vw;
}

.pro {
    height: 100%;
    padding-top: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hey {
    width: 45%;
    padding-left: 7.5vw;
    padding-right: 5.5vw;
}

.hey img {
    margin-top: -7vw;
    padding-left: 2vw;
}

.fine {
    width: 55%;
    padding-top: 2vw;
}

.fine h3 {
    color: #fff;
    font-size: 1.6vw;
    font-weight: 600;
    color: #33A083;
}

.fine p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 1.6vw;
    letter-spacing: 1px;
}

.yes {
    width: 55%;
    padding-left: 12vw;
    padding-top: 3.5vw;
    flex-direction: column;
}

.yes h3 {
    color: #33A083;
    font-size: 25px;
    font-weight: 500;
}

.yes p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 1px;
}

.no {
    width: 45%;
    padding-right: 2vw;
    flex-direction: column;
    margin-top: -0.9vw;
    padding-right: 6vw;
}

.no h1 {
    color: #33A083;
    font-weight: 400;
    font-size: 44px;
    padding-left: 0.1vw;
    margin-top: -1.2vw;
}

.no img {
    width: 65%;
    margin-left: 2vw;
}

.true {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8vw;
}


/* .div {
    height: 100%;
    max-width: 100%;
    margin-top: 2vh;
}

.div h1 {
    color: #33A083;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: -2vh;
}

.pro {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 9vw;
}

.yes {
    width: 55%;
    padding-left: 15vw;
    padding-top: 3vw;
}

.yes h3 {
    color: #33A083;
    font-size: 25px;
    font-weight: 500;
}

.yes p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 1px;
}

.no {
    width: 45%;
    padding-right: 3.5vw;
}

.no h1 {
    color: #33A083;
    font-weight: 400;
    font-size: 44px;
    padding-right: 5vw;
    margin-top: 1.5vw;
    margin-left: -5vw;
}

.no img {
    width: 75%;
}

.true {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15vw;
} */

.green {
    height: 100%;
    max-width: 100%;
    margin-top: 1vh;
}

.green h1 {
    color: #33A083;
    font-size: 44px;
    font-weight: 400;
    margin-left: -1vw;
    margin-top: -8.5vw;
}

.energy {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 7vw;
}

.clean {
    width: 45%;
    padding-left: 10vw;
    margin-top: -3vw;
}

.clean img {
    width: 85%;
}

.get {
    width: 55%;
    padding-top: 4.5vw;
    padding-left: 3vw;
}

.get h3 {
    color: #fff;
    font-size: 1.6vw;
    font-weight: 600;
    color: #33A083;
}

.get p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 1.6vw;
    letter-spacing: 1px;
}


/* .future {
    width: 55%;
    padding-left: 15vw;
    padding-top: 3vw;
}

.future h3 {
    color: #33A083;
    font-size: 25px;
    font-weight: 500;
}

.future p {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 1px;
}

.light {
    width: 45%;
    padding-right: 6.5vw;
}

.light h1 {
    color: #33A083;
    font-weight: 400;
    font-size: 44px;
    padding-left: 5.7vw;
    margin-top: 1.2vw;
}

.light img {
    width: 75%;
}

.bright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15vw;
} */

.div2 {
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.title2 {
    height: 100%;
    max-width: 100%;
    align-items: center;
    padding-top: 10vw;
}

.title2 span {
    color: #33A083;
}

.title2 h1 {
    font-size: 6.5vh;
    font-weight: 400;
    color: #33A083;
    margin-bottom: -1vw;
}

.title2 h2 {
    font-size: 4vh;
    font-weight: 400;
    color: #FFF;
}

.logo2 {
    padding-top: 17vw;
    text-align: center;
}

.logo2 h1 {
    color: #FFF;
    font-weight: 450;
}

.logo2 img {
    margin-bottom: -0.8vw;
}

.order-btn2 {
    width: 12vw;
    height: 2.4vw;
    background-color: #fff;
    color: #000;
    font-weight: 100;
    font-size: 2vh;
    letter-spacing: 1.5px;
    border-radius: 2px;
    margin-top: 1.5vh;
}

.order-btn2:hover {
    color: #fff;
    background: #33A083;
}

@media (hover: hover) {
    .order-btn2:hover {
        color: white;
        background: #33A083;
    }
}

.footer {
    width: 100%;
    height: 20%;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15vw;
}

.footer {
    display: flex;
    gap: 6vw;
    flex-direction: row;
    text-align: center;
}

.footer h4 {
    font-size: 1vw;
    color: #fff;
    font-weight: 350;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer h4:hover {
    color: #33A083;
}